@use "style/mixins/" as *;
@use "style/presets/" as *;

.body-container {
  width: 100%;
  height: 100vh;
  background-color: $color-white;
  position: relative;
  overflow: hidden;
  font-family: $font-main;
}

@media print {
  .body-container {
    height: auto;
    overflow: visible;
  }
}
