<div class="flex-column">
  <div class="wrapper">
    <img class="img" src="../../../assets/example-agree/moving8.jpg" alt="">
  </div>

  <div [@top2] class="pl-2 t-lar-xx bold t-c mt-2">Допоможіть нам з розвитком</div>

  <div class="card p-2">

    <div class="logo-box">
      <img class="logoMin" src="{{path_logo}}" alt="logo">
      <div class="t-lar-x dark t-c bold">Discussio</div>
    </div>

    <div [@top3]  class="bg-white p-2 gray t-lar-x mt-2 t-c">Вітаю! <br> Наша команда займається розробкою на добровільній основі та не бере оплату за
      користуванням додатку та сайту, нам важливо реалізувати всі свої плани та зробити наш сервіс по справжньому
      зручним
      та
      корисним для людей.</div>
    <div [@top4]  class="bg-white gray p-2 t-lar mt-2 t-c">Тому якщо ви зацікавленні в розвитку нашого проекту, а наші ідеї та плани вам
      близькі
      ми будемо раді вашій підтримці.</div>
    <div class="btn-group w-100">
      <a class="btn" [routerLink]="'/user/info'">Назад</a>
      <a class="btn" target="_blank" href="https://send.monobank.ua/jar/4ehuCXVdzw">Посилання на банку<i
          class="fa-solid fa-piggy-bank pl-2"></i></a>
    </div>

  </div>

</div>
